version: "3.7"
services:
  app: 
    container_name: vanilla-todo-server
    restart: always
    build: .
    ports: 
      - '80:3000'
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    ports: 
      - '27017:27017'

